@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div>
            <h3 class="card-title"> Nhà cung cấp:</h3>
        </div>
        <div style="float:right">
            <button class="btn btn-primary" id="create_sp">
                Tạo mới
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="dataTable" class="table table-bordered  dataTable">
            <thead>
                <tr class="text-center">
                    <th style="text-align: center;width:10%">STT</th>
                    <th style="text-align: center;width:30%">Mã </th>
                    <th style="text-align: center;width:40%">Tên nhà cung cấp</th>
                    <th>Chức năng </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                    string ma = "NCC0";
                    foreach (var item in ViewBag.result)
                    {
                        <tr>
                            <td style="text-align:center">
                                @index
                            </td>
                            <td style="text-align:center">
                                @ma@item.Id
                            </td>
                            <td style="text-align:center">
                                @item.Ten
                            </td>
                            <td style="text-align:center">
                                <a id="view_" href="#" onclick="view_('@item.Id')"><i class="fas fa-eye"></i></a>
                                <a id="update_" href="#" onclick="update_('@item.Id')"><i class="fas fa-edit"></i></a>
                                <a id="delete_" href="#" onclick="delete_('@item.Id')"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal CRUD -->
<div class="modal fade" id="create_view" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lưu mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <input type="text" class="form-control" id="ma" hidden>
                        <div class="form-group">
                            <label for="tendl">Tên nhà cung cấp</label>
                            <input type="text" class="form-control" id="ten">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_view" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <h4>Bạn chắc chắn xóa hồ sơ này?</h4>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Colse</button>
                <button type="button" class="btn btn-primary" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="tendl"> Mã nhà cung cấp </label>
                            <input type="text" class="form-control" id="ma_view" disabled />
                        </div>
                        <div class="form-group">
                            <label for="tendl"> Tên nhà cung cấp </label>
                            <input type="text" class="form-control" id="ten_view">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#create_sp").click(function () {
        $('#ma').val("");
        $('#ten').val("");
        $('#create_view').modal('show');
    });
    $("#create").click(function () {
        $('#overlay').show();
        var data =
        {
            Id: $('#ma').val(),
            Ten: $('#ten').val(),
        };
        $.ajax({
            type: 'POST',
            url: 'CreateOrUpdate',
            data: data,
            success: function (response) {
                if (response == false) {
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-danger m-1',
                        autohide: true,
                        delay: 2000,
                        title: 'Lỗi!',
                        body: 'Đã có lỗi xảy ra!'
                    });
                }
                else {
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-success m-1',
                        autohide: true,
                        title: 'Notification!',
                        body: 'Successs!'
                    });
                    $('#create_view').modal('hide');
                    location.reload();
                }
            },
            error: function (data) {
                console.log(data);
            }
        })
    });
    function update_(id) {
        $.ajax({
            type: 'GET',
            url: 'findOne?Id=' + id + '',
            success: function (data) {
                if (data != null) {
                    $('#ma').val(data.Id);
                    $('#ten').val(data.Ten);
                }
                $('#create_view').modal('show');
            },
            error: function (data) {
                console.log(data);
            }
        })
    }
    function delete_(id) {
        $('#ma').val(id);
        $('#delete_view').modal('show');
    }
    $('#delete').click(function () {
        $.ajax({
            url: 'Delete/' + $('#ma').val() + '',
            success: function (data) {
                if (data == false) {
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-danger m-1',
                        autohide: true,
                        delay: 2000,
                        title: 'Lỗi!',
                        body: 'Đã có lỗi xảy ra!'
                    });
                }
                else {
                    $('#table').dataTable().api().ajax.reload();
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-success m-1',
                        autohide: true,
                        delay: 2000,
                        title: 'Notification!',
                        body: 'Successs!'
                    });
                    $('#delete_view').modal('hide');
                    location.reload();
                }
            }
        })
    })
    function view_(id) {
        $.ajax({
            type: 'GET',
            url: 'findOne?Id=' + id + '',
            success: function (data) {
                if (data != null) {
                    $('#ma_view').val(data.Id);
                    $('#ten_view').val(data.Ten);
                }
                $('#view').modal('show');
            },
            error: function (data) {
                console.log(data);
            }
        })
    }
</script>









